In [105]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.metrics import root_mean_squared_error
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import mlflow

In [62]:
file_path=('/Users/mohamedafrith/Downloads/FAANG - FAANG.csv.csv')
df=pd.read_csv(file_path)

In [63]:
df=df[['Company','Date','Open','Close',]]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23055 entries, 0 to 23054
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  23055 non-null  object
 1   Date     23055 non-null  object
 2   Open     23055 non-null  float64
 3   Close    23055 non-null  float64
dtypes: float64(2), object(2)
memory usage: 720.6+ KB

In [67]:
df['Date'] = df['Date'].astype('datetime64[ns]')

In [68]:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month
df['Day']=df['Date'].dt.day
df

       Company       Date        Open       Close  Year  Month  Day
0        Apple 2005-01-03    1.156786    1.130179  2005      1    3
1        Apple 2005-01-04    1.139107    1.141786  2005      1    4
2        Apple 2005-01-05    1.151071    1.151786  2005      1    5
3        Apple 2005-01-06    1.154821    1.152679  2005      1    6
4        Apple 2005-01-07    1.160714    1.236607  2005      1    7
...        ...        ...         ...         ...   ...    ...  ...
23050  Netflix 2024-10-11  734.900024  722.789978  2024     10   11
23051  Netflix 2024-10-14  725.000000  713.000000  2024     10   14
23052  Netflix 2024-10-15  712.510010  705.979981  2024     10   15
23053  Netflix 2024-10-16  703.429993  702.000000  2024     10   16
23054  Netflix 2024-10-17  704.349976  687.650024  2024     10   17

[23055 rows x 7 columns]

In [69]:
df=df.drop(columns='Date')

In [72]:
mapping = {
    'Facebook': 1,
    'Amazon': 2,
    'Apple': 3,
    'Netflix': 4,
    'Google': 5}
df['Company'] = df['Company'].map(mapping)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23055 entries, 0 to 23054
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  23055 non-null  int64
 1   Open     23055 non-null  float64
 2   Close    23055 non-null  float64
 3   Year     23055 non-null  int32
 4   Month    23055 non-null  int32
 5   Day      23055 non-null  int32
dtypes: float64(2), int32(3), int64(1)
memory usage: 810.7 KB

In [75]:
y=df[['Close']]
y

            Close
0        1.130179
1        1.141786
2        1.151786
3        1.152679
4        1.236607
...           ...
23050  722.789978
23051  713.000000
23052  705.979981
23053  702.000000
23054  687.650024

[23055 rows x 1 columns]

In [76]:
x=df.drop('Close', axis=1)
x

       Company        Open  Year  Month  Day
0            3    1.156786  2005      1    3
1            3    1.139107  2005      1    4
2            3    1.151071  2005      1    5
3            3    1.154821  2005      1    6
4            3    1.160714  2005      1    7
...        ...         ...   ...    ...  ...
23050        4  734.900024  2024     10   11
23051        4  725.000000  2024     10   14
23052        4  712.510010  2024     10   15
23053        4  703.429993  2024     10   16
23054        4  704.349976  2024     10   17

[23055 rows x 5 columns]

In [77]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

**Linear Regression**

In [84]:
lr=LinearRegression( fit_intercept=True, copy_X=True, n_jobs=None, positive=False)
lr.fit(x_train,y_train)
predicted_y=lr.predict(x_test)
print("Mean Squared Error = ", mean_squared_error(y_test ,predicted_y))
print("R2 Score = ", r2_score(y_test ,predicted_y))
print("Mean Absolute Error = ",mean_absolute_error(y_test,predicted_y ))
print("Root Mean Squared Error = ",root_mean_squared_error(y_test,predicted_y ))

Mean Squared Error =  7.202438112502877
R2 Score =  0.9995243602780101
Mean Absolute Error =  1.1733872542518304
Root Mean Squared Error =  2.6837358499865216

In [103]:
best_params_lr={'fit_intercept':True, 'copy_X':True, 'n_jobs':None, 'positive':False}

**Decision Tree Regressor**

In [99]:
max_depths = [ 5, 10, 20]
min_samples_leafs = [1, 2, 5, 10]
for max_depth in max_depths:
    for min_samples_leaf in min_samples_leafs:

            decision_tree_model= tree.DecisionTreeRegressor(max_depth=max_depth,min_samples_leaf=min_samples_leaf,random_state=42)
            decision_tree_model= decision_tree_model.fit(x_train,y_train)
            dt_pred=decision_tree_model.predict(x_test)
            print('***************',max_depth,min_samples_leaf)
            print("R2 Score = ", r2_score(y_test, dt_pred))
            print("Mean Squared Error = ", mean_squared_error(y_test, dt_pred))
            print("Root Mean Squared Error = ",root_mean_squared_error(y_test,dt_pred))
            print("Mean Absolute Error = ",mean_absolute_error(y_test,dt_pred))

*************** 5 1
R2 Score =  0.9983991538333107
Mean Squared Error =  24.24102721063728
Root Mean Squared Error =  4.923517767880734
Mean Absolute Error =  3.351008691504032
*************** 5 2
R2 Score =  0.9983991538333107
Mean Squared Error =  24.24102721063728
Root Mean Squared Error =  4.923517767880734
Mean Absolute Error =  3.351008691504032
*************** 5 5
R2 Score =  0.9983991538333107
Mean Squared Error =  24.24102721063728
Root Mean Squared Error =  4.923517767880734
Mean Absolute Error =  3.351008691504032
*************** 5 10
R2 Score =  0.9983991538333107
Mean Squared Error =  24.24102721063728
Root Mean Squared Error =  4.923517767880734
Mean Absolute Error =  3.351008691504032
*************** 10 1
R2 Score =  0.9992235524855719
Mean Squared Error =  11.757460345991214
Root Mean Squared Error =  3.428915330828572
Mean Absolute Error =  1.427743871267858
*************** 10 2
R2 Score =  0.9992663255286777
Mean Squared Error =  11.10976381937805
Root Mean Squared Error =  3.3331312334467196
Mean Absolute Error =  1.4062569167835757
*************** 10 5
R2 Score =  0.9993463103934058
Mean Squared Error =  9.89858230633725
Root Mean Squared Error =  3.146201250132809
Mean Absolute Error =  1.3666015649180105
*************** 10 10
R2 Score =  0.9994089526595679
Mean Squared Error =  8.95001341185745
Root Mean Squared Error =  2.9916573018742385
Mean Absolute Error =  1.3171056031819643
*************** 20 1
R2 Score =  0.9989845429293192
Mean Squared Error =  15.376694521820207
Root Mean Squared Error =  3.9213128569166993
Mean Absolute Error =  1.7409368931262892
*************** 20 2
R2 Score =  0.9991207916379355
Mean Squared Error =  13.313530226768515
Root Mean Squared Error =  3.6487710570503755
Mean Absolute Error =  1.6280029878404496
*************** 20 5
R2 Score =  0.9993002682124987
Mean Squared Error =  10.59578218939306
Root Mean Squared Error =  3.255116309656701
Mean Absolute Error =  1.4537655094057973
*************** 20 10
R2 Score =  0.999401721214298
Mean Squared Error =  9.059516539144909
Root Mean Squared Error =  3.0099030780317344
Mean Absolute Error =  1.3369314944169661

In [91]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
import numpy as np

# Example data (replace with actual data)
#x_train, y_train = ...

# Hyperparameter grid
max_depths = [None, 5, 10, 20]
min_samples_leafs = [1, 2, 5, 10]

best_score = float('inf')
best_params = {}

# Tuning loop
for max_depth in max_depths:
    for min_samples_leaf in min_samples_leafs:
        model = DecisionTreeRegressor(max_depth=max_depth, min_samples_leaf=min_samples_leaf, random_state=42)
        scores = cross_val_score(model,x_train, y_train, cv=5, scoring='neg_mean_squared_error')
        mse = -np.mean(scores)
        
        print(f"max_depth={max_depth}, min_samples_leaf={min_samples_leaf} --> MSE: {mse:.4f}")
        
        if mse < best_score:
            best_score = mse
            best_params = {'max_depth': max_depth, 'min_samples_leaf': min_samples_leaf}

print("\nBest MSE:", best_score)
print("Best Parameters:", best_params)

max_depth=None, min_samples_leaf=1 --> MSE: 17.3637
max_depth=None, min_samples_leaf=2 --> MSE: 14.6175
max_depth=None, min_samples_leaf=5 --> MSE: 11.6954
max_depth=None, min_samples_leaf=10 --> MSE: 10.3468
max_depth=5, min_samples_leaf=1 --> MSE: 26.9425
max_depth=5, min_samples_leaf=2 --> MSE: 26.9425
max_depth=5, min_samples_leaf=5 --> MSE: 26.9425
max_depth=5, min_samples_leaf=10 --> MSE: 26.9425
max_depth=10, min_samples_leaf=1 --> MSE: 14.0350
max_depth=10, min_samples_leaf=2 --> MSE: 12.6119
max_depth=10, min_samples_leaf=5 --> MSE: 11.3182
max_depth=10, min_samples_leaf=10 --> MSE: 10.2776
max_depth=20, min_samples_leaf=1 --> MSE: 17.3788
max_depth=20, min_samples_leaf=2 --> MSE: 14.5691
max_depth=20, min_samples_leaf=5 --> MSE: 11.6954
max_depth=20, min_samples_leaf=10 --> MSE: 10.3468

Best MSE: 10.277584268635078
Best Parameters: {'max_depth': 10, 'min_samples_leaf': 10}

In [101]:
n_estimators_list = [100, 200, 500]
max_depth_list = [None, 10, 20, 30]
for n_estimators in n_estimators_list:
    for max_depth in max_depth_list:
        rf = RandomForestRegressor(n_estimators=n_estimators,max_depth=max_depth, random_state=42)
        rf=rf.fit(x_train, y_train)
        rf_pred_fb= rf.predict(x_test)
        print('***************',n_estimators,max_depth)
        print("R2 Score = ", r2_score(y_test, rf_pred_fb))
        print("Mean Squared Error = ", mean_squared_error(y_test, rf_pred_fb))
        print("Root Mean Squared Error = ",root_mean_squared_error(y_test,rf_pred_fb))
        print("Mean Absolute Error = ",mean_absolute_error(y_test,rf_pred_fb))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 100 None
R2 Score =  0.9994362064182006
Mean Squared Error =  8.537319726257163
Root Mean Squared Error =  2.921869217856467
Mean Absolute Error =  1.298680586214207

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 100 10
R2 Score =  0.9994550553683341
Mean Squared Error =  8.251896977598427
Root Mean Squared Error =  2.8726115257024274
Mean Absolute Error =  1.2561056487422033

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 100 20
R2 Score =  0.9994363711527476
Mean Squared Error =  8.534825211344872
Root Mean Squared Error =  2.9214423169634673
Mean Absolute Error =  1.296690035613132

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 100 30
R2 Score =  0.9994361685603652
Mean Squared Error =  8.537892993593735
Root Mean Squared Error =  2.9219673156272186
Mean Absolute Error =  1.2986244772059814

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 200 None
R2 Score =  0.9994344017711664
Mean Squared Error =  8.56464683536646
Root Mean Squared Error =  2.9265417877362454
Mean Absolute Error =  1.2969650678730964

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 200 10
R2 Score =  0.9994544500139105
Mean Squared Error =  8.261063637929672
Root Mean Squared Error =  2.874206610167347
Mean Absolute Error =  1.2565048729385366

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 200 20
R2 Score =  0.9994343180561495
Mean Squared Error =  8.565914501206988
Root Mean Squared Error =  2.926758360576935
Mean Absolute Error =  1.296610615442384

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 200 30
R2 Score =  0.999434377787213
Mean Squared Error =  8.565010015588284
Root Mean Squared Error =  2.9266038364610067
Mean Absolute Error =  1.2969585712002751

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 500 None
R2 Score =  0.9994347815560076
Mean Squared Error =  8.558895892607795
Root Mean Squared Error =  2.925559073511898
Mean Absolute Error =  1.2975748223574164

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 500 10
R2 Score =  0.9994555910810962
Mean Squared Error =  8.243784875441454
Root Mean Squared Error =  2.871199205112988
Mean Absolute Error =  1.255437151624163

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 500 20
R2 Score =  0.9994347978338132
Mean Squared Error =  8.558649403758924
Root Mean Squared Error =  2.9255169464145863
Mean Absolute Error =  1.2972997791925012

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

*************** 500 30
R2 Score =  0.9994347565803459
Mean Squared Error =  8.559274089905252
Root Mean Squared Error =  2.9256237095541273
Mean Absolute Error =  1.2976297151395744

In [102]:
best_params_rf={'n_estimators':200,'max_depth': 10}

Mean Squared Error =  7.202438112502877
R2 Score =  0.9995243602780101
Mean Absolute Error =  1.1733872542518304
Root Mean Squared Error =  2.6837358499865216

In [106]:
mlflow.set_experiment("1st_experiment")
mlflow.set_tracking_uri("http://127.0.0.1:5000")
with mlflow.start_run(run_name="linear_regression"):
    mlflow.log_params (best_params_lr)
    mlflow.log_metrics({
    "R2 SCORE": 0.9995243602780101,
    "MSE": 7.202438112502877,
    "RMSE": 2.6837358499865216,
    "MAE":  1.1733872542518304
})
    mlflow.sklearn.log_model(lr,artifact_path="LinearRegression")

WARNING:root:Malformed experiment '235064234413715953'. Detailed error Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 328, in search_experiments
    exp = self._get_experiment(exp_id, view_type)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 422, in _get_experiment
    meta = FileStore._read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1368, in _read_yaml
    return _read_helper(root, file_name, attempts_remaining=retries)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1361, in _read_helper
    result = read_yaml(root, file_name)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/utils/file_utils.py", line 310, in read_yaml
    raise MissingConfigException(f"Yaml file '{file_path}' does not exist.")
mlflow.exceptions.MissingConfigException: Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.

WARNING:root:Malformed experiment '235064234413715953'. Detailed error Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 328, in search_experiments
    exp = self._get_experiment(exp_id, view_type)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 422, in _get_experiment
    meta = FileStore._read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1368, in _read_yaml
    return _read_helper(root, file_name, attempts_remaining=retries)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1361, in _read_helper
    result = read_yaml(root, file_name)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/utils/file_utils.py", line 310, in read_yaml
    raise MissingConfigException(f"Yaml file '{file_path}' does not exist.")
mlflow.exceptions.MissingConfigException: Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
WARNING:root:Malformed experiment '235064234413715953'. Detailed error Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 328, in search_experiments
    exp = self._get_experiment(exp_id, view_type)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 422, in _get_experiment
    meta = FileStore._read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1368, in _read_yaml
    return _read_helper(root, file_name, attempts_remaining=retries)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1361, in _read_helper
    result = read_yaml(root, file_name)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/utils/file_utils.py", line 310, in read_yaml
    raise MissingConfigException(f"Yaml file '{file_path}' does not exist.")
mlflow.exceptions.MissingConfigException: Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
WARNING:root:Malformed experiment '235064234413715953'. Detailed error Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 328, in search_experiments
    exp = self._get_experiment(exp_id, view_type)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 422, in _get_experiment
    meta = FileStore._read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1368, in _read_yaml
    return _read_helper(root, file_name, attempts_remaining=retries)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/store/tracking/file_store.py", line 1361, in _read_helper
    result = read_yaml(root, file_name)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mlflow/utils/file_utils.py", line 310, in read_yaml
    raise MissingConfigException(f"Yaml file '{file_path}' does not exist.")
mlflow.exceptions.MissingConfigException: Yaml file '/Users/mohamedafrith/Desktop/mini_project_4/mlruns/235064234413715953/meta.yaml' does not exist.
2025/02/02 20:46:07 INFO mlflow.tracking.fluent: Experiment with name '1st_experiment' does not exist. Creating a new experiment.
2025/02/02 20:46:10 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

ðŸƒ View run linear_regression at: http://127.0.0.1:5000/#/experiments/645321400558584646/runs/24c19760c4284e17954705afdcd8d17c
ðŸ§ª View experiment at: http://127.0.0.1:5000/#/experiments/645321400558584646

R2 Score =  0.9994544500139105
Mean Squared Error =  8.261063637929672
Root Mean Squared Error =  2.874206610167347
Mean Absolute Error =  1.2565048729385366

In [107]:
mlflow.set_experiment("1st_experiment")
mlflow.set_tracking_uri("http://127.0.0.1:5000")
with mlflow.start_run(run_name="random_forest_regressor"):
    mlflow.log_params (best_params_rf)
    mlflow.log_metrics({
    "R2 SCORE": 0.9994544500139105,
    "MSE": 8.261063637929672,
    "RMSE": 2.874206610167347,
    "MAE":  1.2565048729385366
})
    mlflow.sklearn.log_model(rf,artifact_path="RandomForestRegressor")

2025/02/02 20:50:54 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

ðŸƒ View run random_forest_regressor at: http://127.0.0.1:5000/#/experiments/645321400558584646/runs/4b73c6ad8dbf4f2185932a6f5adb4e1b
ðŸ§ª View experiment at: http://127.0.0.1:5000/#/experiments/645321400558584646

R2 Score =  0.9994089526595679
Mean Squared Error =  8.95001341185745
Root Mean Squared Error =  2.9916573018742385
Mean Absolute Error =  1.3171056031819643

In [108]:
mlflow.set_experiment("1st_experiment")
mlflow.set_tracking_uri("http://127.0.0.1:5000")
with mlflow.start_run(run_name="decision_tree_regressor"):
    mlflow.log_params (best_params)
    mlflow.log_metrics({
    "R2 SCORE": 0.9994089526595679,
    "MSE": 8.95001341185745,
    "RMSE": 2.9916573018742385,
    "MAE":  1.3171056031819643
})
    mlflow.sklearn.log_model(decision_tree_model,artifact_path="DecisionTreeRegressor")

2025/02/02 20:54:49 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

ðŸƒ View run decision_tree_regressor at: http://127.0.0.1:5000/#/experiments/645321400558584646/runs/92884e94e11a4a848c6f31e9bdc11f09
ðŸ§ª View experiment at: http://127.0.0.1:5000/#/experiments/645321400558584646

In [109]:
model_name='linear_regression'
run_id='24c19760c4284e17954705afdcd8d17c'
model_uri=f"runs:/{run_id}/{model_name}"
result=mlflow.register_model(model_uri,model_name)

Registered model 'linear_regression' already exists. Creating a new version of this model...
2025/02/02 20:59:52 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: linear_regression, version 2
Created version '2' of model 'linear_regression'.

In [113]:
sample_input=[[3,1.139106989,2005,1,4]]
lr.predict(sample_input)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[1.12285992]])